body {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-family: Geneva, sans-serif;
}
code {
  box-sizing: border-box;
  background: white;
  padding: 10px;
  margin: 15px;
  color: black;
  font-size: smaller;
  display: block;
  margin-top: 0px;
}

a {
  color: #dab174;
}
a:hover {
  color: #f3c27b;
}
img {
  width: 100%;
}
